body{
    margin:0px;
    background-image: url('top-banner.png');
    background-repeat: no-repeat;
}
.menu{
    margin-left:1000px;
    padding:0px;
    height: 100px;
}
.menu ul{
    font-family: 'Lobster', cursive;
}
ul li{
    text-decoration: none;
    float:left;
    margin:20px;
    list-style-type: none;
     }
section{
    height:600px;
}     
.my-intro{
    width:30%;
    margin:50px; 
    float:left;
    
}
.my-intro h1{
    font-family: 'Staatliches', cursive;
    font-size:50px;
    font-weight:300;
    margin-left:30px; 
    
}
.my-intro p{
    margin-left:30px;
    font-family: 'Lobster', cursive;
    text-align: justify;
    margin-bottom:30px;
}
.my-intro span{
    color:#ee8446;
}
.my-intro a{
    text-decoration: none;
    font-size: 20px;
    color:white;
    border: 2px solid orange;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding:10px;
    margin-left:30px;
    border-radius: 5px;
}
.my-picture img{
    width:500px;
    height:500px;
    position: absolute;
    bottom:-10px;
}
.my-picture{
    margin-left:800px;
}
.my-picture-two img{
    height:450px;
    width:500px;
    margin-left:80px;
    margin-top:120px;
}
.my-picture-two{
    width:600px;
    height:700px;
    float: left;
}
.middle-banner .my-intro{
    margin-left:185px;
    margin-top:120px;
}
.my-intro a span{
    color:white;
}
.grid-item h1{
    margin-top:150px;
    text-align: center;
    font-family: 'Staatliches';
    font-size: 50px;
    padding-top:70px;
    padding-bottom:50px;
}
.grid-item span{
    color:rgb(204, 108, 44);
}
.grid-item{
    background-color: #f7f7f0;
    padding-bottom:150px;
}
.one-third-width{
    background-color: grey;
    
}
.item-one{
    width: 25%;
    height: 350px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 40px grey;
    margin-left:5%;
    padding:10px;
    display:inline-block;
}
.item-one img{
    height:200px;
    width:300px;
    padding: 2px;
    border-left:1px solid grey;
}
.item-one #you-first{
    float: left;
}
.item-one h2{
    font-family: 'Staatliches', cursive;
    font-weight:300;
}
.item-one p{
    font-family: 'Lobster', cursive;
}
.section-three{
    height:350px;
}
.work-inquiry{
    height: 220px;
    background-image:url('shapes/Group_33094_1.png');
    background-size:850px 210px;
    background-repeat: no-repeat;
    width: 900px;
    margin-left: 320px;
    margin-top: 120px;
    color:white;
    font-family: 'Staatliches', cursive;
}
.heading{
    padding:30px;
    display: inline-block;
    margin-left:40px;
}
.lets-chat{
    text-decoration: none;
    color:white;
    display: inline-block;
    border: 2px solid orange;
    border-radius:10px;
    padding: 20px 30px;
    margin-top: 80px;
    margin-left: 400px;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
}
.video-section h1{
    text-align:center;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    margin-top:40px;
    font-size:50px;
}
span{
    color:tomato;
}
.add-video{
    margin-left: 475px;
    border: 2px solid #e0e0e0;
    width: 559px;
    height: 314px;
    box-shadow: 10px 10px 40px rgb(162, 162, 223);
    }
.footer-design h1{
    font-size:20px;
    font-family: 'Bree Serif', serif;
    text-align: center;
    text-transform: uppercase;
    color:rgb(71, 69, 69);
}
.footer-design h2{
    font-size:40px;
    font-family: 'Patua One', cursive;
    text-align:center;
    color:rgb(60, 56, 61);
    margin-top:-15px;
}
.icon{
    margin-left:665px;
    padding-bottom:100px;
}
.icon img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    
}